POSTGRES_DB=dbname
POSTGRES_USER=dbuser
POSTGRES_PASSWORD=dbpassword
POSTGRES_HOST=dbhost
POSTGRES_PORT=5432
STATIC_ROOT=static
DJANGO_SUPERUSER_EMAIL=somemail@exaple.com
DJANGO_SUPERUSER_PASSWORD=password
GROK_API_KEY=GROQ_API_KEY=your_api_key_here